{% extends "template.html" %}

{% block head %}
<title>Buzz - Hives</title>
{% endblock %}

{% block header %}

<h1>Your Hives</h1>
<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
<a href="config" data-icon="gear" data-iconpos="notext">Configure</a>
{% endblock %}
        
{% block content %}
<div data-role="collapsible">
    <h3>Add New Hive</h3>
    <form action="/observe" method="post">
        <div data-role="fieldcontain">
            <label for="name">Identification:</label>
            <input type="text" data-inline="true" name='name' id='name' value="" data-clear-btn="true">
        </div>
        <div data-role="fieldcontain">
            <label for="date">Date:</label>
            <input type="text" data-inline="true" name='date' id='date' value="{{ now }}" data-clear-btn="true">
        </div>
        <div data-role="fieldcontain">
            <label for="hive">Hive Type:</label>
            <input type="text" data-inline="true" name='hive' id='hive' value="" data-clear-btn="true">
        </div>
        <div data-role="fieldcontain">
            <label for="queen">Queen Details:</label>
            <textarea cols="40" rows="8" name='queen' id='queen' data-clear-btn="true"></textarea>
        </div>
        <div data-role="fieldcontain">
            <label for="purchase">Purchase Details:</label>
            <input type="text" data-inline="true" name='purchase' id='purchase' value="">
        </div>
        <div data-role="fieldcontain">
            <input type="submit" data-inline="true" value="Add Hive" name="add_hive">
        </div>
    </form>
</div>
<div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-c">
        <h3>Current Hive</h3>
    </div>
    <div class="ui-body ui-body-c">
        <svg id="svg-hive" width="100%" height="800"></svg>
    </div>
    <script>
        var paper = Snap("#svg-hive");

        Snap.load("/images/base-board.svg",onDrawingLoadedBase);
        Snap.load("/images/full-box.svg",onDrawingLoaded);

        function onDrawingLoadedBase(data){

            var baseBoard = data.select("#base-board");
            var t = new Snap.Matrix().scale(0.15,0.15,-7498,2336.5).translate(0,1200);
            baseBoard.transform(t);
            paper.append(data);
        }

        function onDrawingLoaded(data){

            var mainBox=data.select("#main-box");


            var boxColour=data.select("#box-colour");
            boxColour.attr( {
                fill:"#ffee88",
                strokeWidth:10
            });



            /*var t = new Snap.Matrix().scale(0.07).translate(-98000,-13000);*/
            var t = new Snap.Matrix().scale(0.15,0.15,-7500,-1000);
            mainBox.transform(t);

            paper.append(data);
        }
    </script>

</div>


{% endblock %}

