{% extends "template.html" %}

{% block head %}
<title>Buzz - Location</title>

<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());
    map.zoomToMaxExtent();
    //Set start centrepoint and zoom    
    //var lonLat = new OpenLayers.LonLat( 9.5788, 48.9773 )
    //      .transform(
    //        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
    //        map.getProjectionObject() // to Spherical Mercator Projection
    //      );
    //var zoom=11;
    //map.setCenter (lonLat, zoom);  

 
  </script>
{% endblock %}

{% block header %}
<h1>Your Location</h1>
<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
<a href="config" data-icon="gear" data-iconpos="notext">Configure</a>
{% endblock %}
        
{% block content %}
<p>Information about your hive locations...</p>
<div id="mapdiv" style="height:250px"></div>
  
{% endblock %}

