{% extends "template.html" %}

{% block head %}
<title>Buzz - Observations</title>
{% endblock %}

{% block header %}
<h1>Your Observations</h1>
<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
<a href="config" data-icon="gear" data-iconpos="notext">Configure</a>
{% endblock %}
        
{% block content %}
<div data-role="collapsible">
    <h3>Add New Entry</h3>
    <form action="/observe" method="post">
        <div data-role="fieldcontain">
            <label for="name">Name:</label>
            <input type="text" data-inline="true" name='name' id='name' value="" data-clear-btn="true">
        </div>
        <div data-role="fieldcontain">
            <label for="date">Date:</label>
            <input type="text" data-inline="true" name='date' id='date' value="{{ now }}" data-clear-btn="true">
        </div>
        <div data-role="fieldcontain">
            <label for="hive">Hive:</label>
            <input type="text" data-inline="true" name='hive' id='hive' value="" data-clear-btn="true">
        </div>
        <div data-role="fieldcontain">
            <label for="notes">Notes:</label>
            <textarea cols="40" rows="8" name='notes' id='notes' data-clear-btn="true"></textarea>
        </div>
        <div data-role="fieldcontain">
            <label for="weather">Weather:</label>
            <input type="text" data-inline="true" name='weather' id='weather' value="">
        </div>
        <div data-role="fieldcontain">
            <input type="submit" data-inline="true" value="Add Entry" name="add_entry">
        </div>
    </form>
</div>

{% if entries %}
{% for report in entries -%}
{% if loop.first %}
<div>Last Observations
<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="calendar" data-expanded-icon="calendar">
    <h3><div>{{ report[1] }}</div><div style="float:right; margin-top:-22px;">{{ report[0] }}</div></h3>
    <p>Hives: {{ report[2] }}</p>
    <p>Notes: {{ report[3] }}</p>
    <p>Weather: {{ report[4] }}</p>
</div>
</div>
<div>Older Observations
{% else %}
<div data-role="collapsible" data-collapsed-icon="calendar" data-expanded-icon="calendar">
    <h3><div>{{ report[1] }}</div><div style="float:right; margin-top:-22px;">{{ report[0] }}</div></h3>
    <p>Hives: {{ report[2] }}</p>
    <p>Notes: {{ report[3] }}</p>
    <p>Weather: {{ report[4] }} </p>
</div>

{% endif %}
{% endfor -%}
</div>
{% endif %}
{% endblock %}

