<!DOCTYPE HTML>
<html lang='en'>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    {% block head %}
    <!-- <title>Buzz</title> -->
    {% endblock %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/styles/buzz-light.css" />
    <link rel="stylesheet" href="/styles/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="/styles/jquery.mobile.structure-1.4.3.min.css" />
    <link rel="stylesheet" href="/styles/jquery.mobile-1.4.3.css" />
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/jquery.mobile-1.4.3.min.js"></script>
    <script src="/js/snap.svg.js"></script>
    <script type="text/javascript">
        $(document).on("pagebeforeshow", function( event, data ) {
            $('#nav-panel').panel("open");
        })

        $.mobile.ignoreContentEnabled = true;
    </script>
</head>

<body>
    <div data-role="page" data-theme="c" class="ui-responsive-panel" data-ajax="false">
        <div data-role="header">
            {% block header %}
            <!-- <h1>Buzz</h1>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
            <a href="config.html" data-icon="gear" data-iconpos="notext">Configure</a> -->
            {% endblock %}
        </div><!-- /header -->
        
        <div data-role="content">
            {% block content %}
            <!-- <p>Main content goes here</p> -->
            {% endblock %}
        </div><!-- content -->

        <div data-role="footer">
            <img src="/images/bee_image.png" width="45px" style="padding: 5px; margin: 0 auto;display: block;">             
        </div><!-- /footer -->

        <div data-role="panel" data-position-fixed="true" data-display="push" data-dismissible="false" data-animate="false" id="nav-panel" data-theme="b">
            <ul data-role="listview">
                <li data-icon="delete"><a href="#" data-rel="close">Navigation Menu</a></li>
                <li data-icon="home"><a href='/'>Home</a></li>
                <li><a href='observe'>Observations</a></li>
                <li><a href='hives'>Hives</a></li>
                <li><a href='location'>Location</a></li>

            </ul>            
        </div><!-- content panel -->

    </div><!-- /page -->
</body>
</html>
