<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="/js/snap.svg.js"></script>
</head>
<body>
<svg id="svg-hive" width="100%" height="800px"></svg>
<script>
        var paper = Snap("#svg-hive");

        Snap.load("/images/base-board.svg",onDrawingLoadedBase);
        Snap.load("/images/full-box.svg",onDrawingLoaded);

        function onDrawingLoadedBase(data){

            var baseBoard = data.select("#base-box");
            var t = new Snap.Matrix().scale(0.15,0.15,-7498,2336.5).translate(0,1200);
            baseBoard.transform(t);
            paper.append(data);
        }

        function onDrawingLoaded(data){

            var mainBox=data.select("#main-box");


            var boxColour=data.select("#box-colour");
            boxColour.attr( {
                fill:"#ffee88",
                strokeWidth:10
            });



            /*var t = new Snap.Matrix().scale(0.07).translate(-98000,-13000);*/
            var t = new Snap.Matrix().scale(0.15,0.15,-7500,-1000);
            mainBox.transform(t);

            paper.append(data);
        }
    </script>
</body>
</html>